{% extends "burger/base_light.html" %}
	
{% load static %}
{% block contenido_clientes %}
<section class="page-section bg-light" id="sugerencias">
    <div class="container">
        <div class="text-center">
         
            <h2 class="section-heading text-uppercase"><a class="nav-link" href="{% url 'resena' %}">¡Pedido realizado! ¡Muchas gracias!</a> </h2>   <!-- BOTON QUE TIENE QUE REDIRIGIR A LAS VALORACIONES FORMS-->
            <h3 class="section-subheading text-muted"><a class="nav-link" href="{% url 'resena' %}">Recuerda que puedes volver a dejar tu feedback y ademas <br> <br><u>¡Participa por grandes descuentos haciendo la tuya!</u></a></h3>
        
        </div>
      
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"> Desde Burger Franci's agradecemos cualquier colaboración.</p></div>
           
        </div>
    </div>
</section>
{% endblock %}