{% extends "burger/busqueda.html" %}
	
{% load static %}

{% block busqueda %}

<div class="masthead-heading text-uppercase">¡Busca bebidas por nombre!</div>

<form action="/resultadosBebida/" method="GET" >

    Ingresa el nombre de la bebida: <input type="text" name="busqueda_bebida">
    {% endblock %}


    {% block contenido %}
    <div class="col-lg-4" style="color: black;">
    <h3>Resultados de la busqueda</h3>
    {% if sugerencias %}
    <ul>
    {% for sugerencia in sugerencias %}
    <li><p><b>Nombre: </b>{{sugerencia.nombre}}</p></li>
    <li><p><b>E-mail: </b>{{sugerencia.email}}</p></li>
    <li><p><b>Recomendacion: </b>{{sugerencia.recomendacion}}</p></li>
    {% endfor %}
                    </ul>
    {% endif %}
    </div>

    {% endblock %}