{% extends "burger/base_light.html" %}
	
{% load static %}
{% block contenido_clientes %}
<section class="page-section bg-light" id="sugerencias">
    <div class="container">
        <div class="text-center">
         
            <h2 class="section-heading text-uppercase"><a class="nav-link" href="{% url 'recomendaciones' %}">Sugerencias</a> </h2>   <!-- BOTON QUE TIENE QUE REDIRIGIR A LAS VALORACIONES FORMS-->
            <h3 class="section-subheading text-muted"><a class="nav-link" href="{% url 'recomendaciones' %}">Aquí encontraras las diferentes sugerencias que los clientes han brindado <br> <br><u>¡Participa por grandes descuentos haciendo la tuya!</u></a></h3>
            <h3 class="section-subheading text-muted"><a class="nav-link" href="{% url 'buscar_sugerencia' %}">Busca entre las sugerencias en la DB</a></h3>
        </div>
        <div class="row">
            {% for x in sugerencias %}
            <div class="col-lg-4">
                <div class="team-member">
                  

                    <h4>{{x.nombre}}</h4>
                    <p class="text-muted">{{x.recomendacion}}

                    </p>
                
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"> Desde Burger Franci's agradecemos cualquier colaboración.</p></div>
           
        </div>
    </div>
</section>
{% endblock %}